@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
.page {
  padding: 0px 10px 10px 10px;
  max-width: 1940px;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16 / 20;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 18px 30px;
  text-decoration: none;
  background: #D7B399;
  border: 1px solid #D7B399;
  transition: background 0.1s linear;
}
.btn:hover {
  background: #c18a62;
}
.btn-m {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 14 / 17;
  color: #fff;
  padding: 12px 14px;
  text-decoration: none;
  background: #D7B399;
  border: none;
  transition: background 0.1s linear;
}
.btn-m:hover {
  background: #c18a62;
}
.btn-s {
  display: inline-block;
  padding: 6px 30px;
  text-decoration: none;
  background: #D7B399;
  border: 1px solid #D7B399;
}
.btn-s:hover {
  background: #c18a62;
}
.nav__item {
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-right: 45px;
  position: relative;
}
.nav__item span {
  border: 3px solid transparent;
  border-top: 3px solid #212121;
  position: absolute;
  top: 7px;
  margin-left: 3px;
}
.header {
  background: #f9f6f1;
  padding-top: 50px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__servis__item {
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-right: 45px;
}
.header__bag {
  display: flex;
  align-items: center;
}
.header__bag__icon {
  margin-right: 15px;
}
.header__bag__quantity {
  width: 33px;
  height: 15px;
  background: #D7B399;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.header__bag__quantity span {
  border: 8px solid transparent;
  border-right: 8px solid #D7B399;
  position: absolute;
  left: -16px;
}
.slider__item {
  padding: 0px 5px 0px 5px;
}
.slider__body {
  display: flex;
  justify-content: space-between;
  flex: 1 0 40%;
  margin-bottom: 130px;
}
.slider__text__tittle {
  font-weight: 400;
  font-size: 30px;
  line-height: 37 / 30;
  letter-spacing: 0.02em;
}
.slider__text__sale {
  font-size: 55px;
  font-weight: 700;
  line-height: 67 / 55;
  margin-top: 35px;
  letter-spacing: 0.04em;
}
.slider__text__btn {
  margin-top: 50px;
}
.slider__image {
  position: relative;
  max-width: 556px;
  height: auto;
}
.slider__image__cost {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24 / 29;
  letter-spacing: 0.05em;
  text-decoration: line-through;
}
.slider__image__cost-salle {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 42px;
  font-weight: 700;
  line-height: 42 / 51;
  letter-spacing: 0.02em;
  color: #d84033;
}
.slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
}
.slick-dots li {
  width: 40px;
  height: 7px;
  background: #CECECE;
  margin: 0 10px;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #D7B399;
}
.slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
}
.screen-1 {
  padding: 180px 0 70px;
  background: #f9f6f1;
}
.screen-2 {
  width: 100%;
  background: #212121;
  color: #fff;
  text-align: center;
  padding: 80px 0 70px;
}
.screen-2__tittle {
  font-size: 30px;
  line-height: 30 / 37;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.screen-2__tittle span {
  font-weight: 700;
}
.screen-2__sublittle {
  font-size: 21px;
  line-height: 21 / 26;
  font-weight: 300;
}
.screen-3 {
  padding-bottom: 75px;
}
.screen-3__head {
  display: flex;
}
.screen-3__head__men {
  display: flex;
  padding-top: 60px;
  justify-content: flex-end;
  background: #F9F6F1;
  width: 50%;
}
.screen-3__head__men-tittle {
  font-size: 24px;
  line-height: 24 / 29;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.screen-3__head__men-tittle span {
  font-weight: 500;
}
.screen-3__head__men-subtittle {
  font-size: 16px;
  line-height: 16 / 20;
  margin-bottom: 40px;
}
.screen-3__head__women {
  display: flex;
  padding-top: 60px;
  padding-left: 35px;
  background: #F4F4F4;
  width: 50%;
}
.screen-3__head__women-tittle {
  font-size: 24px;
  line-height: 24 / 29;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.screen-3__head__women-tittle span {
  font-weight: 500;
}
.screen-3__head__women__subtittle {
  font-size: 16px;
  line-height: 16 / 20;
  margin-bottom: 40px;
}
.screen-3__body {
  display: flex;
  width: 1110px;
  margin: 0 auto;
}
.screen-3__body__men {
  display: flex;
  flex-wrap: wrap;
}
.screen-3__body__men-item {
  width: 277px;
  height: auto;
  position: relative;
}
.screen-3__body__men-item-tittle {
  position: absolute;
  left: 30px;
  bottom: 25px;
  font-size: 21px;
  line-height: 21 / 26;
  letter-spacing: 0.03em;
  color: #000;
}
.screen-3__body__women {
  display: flex;
  flex-wrap: wrap;
}
.screen-3__body__women-item {
  width: 277px;
  height: auto;
  position: relative;
}
.screen-3__body__women-item-tittle {
  position: absolute;
  left: 30px;
  bottom: 25px;
  font-size: 21px;
  line-height: 21 / 26;
  letter-spacing: 0.03em;
  color: #000;
}
.screen-4,
.screen-6 {
  padding: 75px 0px 150px;
  text-align: center;
}
.new-model__tittle {
  font-size: 36px;
  line-height: 36 / 44;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.new-model__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.new-model__btn {
  margin-top: 80px;
}
.new-model__btn img {
  margin-left: 10px;
}
.model-item {
  width: 255px;
  text-align: center;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 23px;
}
.model-item:last-child {
  margin-right: 0;
}
.model-item__mask-1,
.model-item__mask-2,
.model-item__mask-3,
.model-item__mask-4,
.model-item__mask-5,
.model-item__mask-6,
.model-item__mask-7,
.model-item__mask-8 {
  position: absolute;
  height: 3px;
  width: 25px;
  background: #d7b399;
}
.model-item__mask-1 {
  top: 0;
  left: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.model-item__mask-2 {
  top: 0;
  left: 0;
  transform: matrix(0, -1, -1, 0, -11, 11);
}
.model-item__mask-3,
.model-item__mask-4 {
  top: 0;
  right: -22px;
}
.model-item__mask-3 {
  transform: matrix(0, -1, -1, 0, -11, 11);
}
.model-item__mask-4 {
  transform: matrix(-1, 0, 0, 1, -22, 0);
}
.model-item__mask-5,
.model-item__mask-6 {
  bottom: 0;
  right: -22px;
}
.model-item__mask-5 {
  transform: matrix(0, -1, -1, 0, -11, -13);
}
.model-item__mask-6 {
  transform: matrix(-1, 0, 0, 1, -22, 0);
}
.model-item__mask-7,
.model-item__mask-8 {
  bottom: 0;
  left: 0;
}
.model-item__mask-7 {
  transform: matrix(0, -1, -1, 0, -11, -13);
}
.model-item__mask-8 {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.model-item__img {
  margin-bottom: 25px;
}
.model-item__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 14 / 17;
  color: #000;
  width: 112px;
  margin: 0px auto 15px;
}
.model-item__cost {
  font-size: 18px;
  line-height: 18 / 22;
  font-weight: 700;
  color: #D7B399;
}
.screen-5 {
  display: flex;
  justify-content: center;
  background: #212121;
  padding: 70px 0px;
}
.screen-5__tittle {
  font-size: 30px;
  line-height: 30 / 37;
  letter-spacing: 0.02em;
  color: #fff;
  padding-right: 60px;
}
.form__inp {
  width: 255px;
  height: 40px;
  background: #F9F6F1;
  padding: 12px 20px;
  border: none;
  margin-right: 30px;
}
.footer {
  width: 100%;
  background: #212121;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 79px 0px ;
  font-weight: 400;
  line-height: 22 / 14;
}
.fot-tittle {
  font-size: 10px;
  font-weight: 700;
}
.col-1,
.col-2,
.col-3,
.col-4 {
  display: flex;
  flex-direction: column;
}
.col-1 {
  width: 200px;
  margin-left: 225px;
}
.col-2 {
  width: 115px;
  margin-left: 85px;
}
.col-3 {
  width: 125px;
  margin-left: 75px;
}
.col-4 {
  width: 135px;
  margin-left: 80px;
}
.col-5 {
  width: 70px;
}
