// main: ../less/style.less

// FOOTER ======================== FOOTER
.footer {
  &__wrapper {
    max-width: 1110px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  width: 100%;
  background: #212121;
  color: #cbcfd4;
  padding: 79px 0px;
  font-weight: 400;
  line-height: 22 / 14;
  & ul {
    padding: 0;
    & li {
      list-style: none;
      & a {
        color: #cbcfd4;
      }
    }
  }
}
.col-2__items__tittle {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.footer__col-1 {
  width: 200px;
  flex: 0 0 20%;
}
.footer__col-2 {
  display: flex;
  flex: 80%;
  justify-content: space-between;
  margin-left: 225px;
}
.col-2__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &__list {
    display: flex;
    flex-direction: column;
  }
}
.list__item {
  margin-bottom: 10px;
}
.soc-icon {
  margin-right: 8px;
}
